resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: gazarenkov/backstage-operator

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - default-config/deployment.yaml
  - default-config/service.yaml
  - default-config/db-statefulset.yaml
  - default-config/db-service.yaml
  - default-config/db-service-hl.yaml
  - default-config/backend-auth-configmap.yaml
  - default-config/dynamic-plugins-configmap.yaml
  name: default-config
