resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
<<<<<<< HEAD
  newName: quay.io/janus-idp/operator
  newTag: 0.0.1
=======
  newName: quay.io/janus/operator
  newTag: v0.0.1
>>>>>>> ff714ce (revert to use default image tag based on VERSION in Makefile)

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- files:
  - default-config/deployment.yaml
  - default-config/service.yaml
  - default-config/route.yaml
  - default-config/db-statefulset.yaml
  - default-config/db-service.yaml
  - default-config/db-service-hl.yaml
  - default-config/db-secret.yaml
  - default-config/backend-auth-configmap.yaml
  - default-config/dynamic-plugins-configmap.yaml
  name: default-config
