# Copyright 2023 The Janus IDP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Next Docker Build operator, bundle, and catalog images

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: quay.io

jobs:
  next-docker-build:
    name: Next Docker Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Get the last commit short SHA
        run: |
          SHORT_SHA=$(git rev-parse --short HEAD)
          echo "SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Build and Push operator image
        uses: ./.github/actions/docker-build
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.JANUS_QUAY_USERNAME }}
          password: ${{ secrets.JANUS_QUAY_TOKEN }}
          # TODO use janus-idp/operator* images instead of janus/operator*; switch to organization-level secrets
          # username: ${{ vars.QUAY_USERNAME }}
          # password: ${{ secrets.QUAY_TOKEN }}
          # imageName: ${{ github.repository }}
          imageName: janus/operator
          imageTags: |
            type=raw,value=next
            type=sha,prefix=next-
          # to autodelete PR image tags, set an expiry date
          imageLabels: quay.expires-after=14d
          push: true
          dockerfile: docker/Dockerfile

      - name: Adjust operator image and tag in CSV
        run: |
          sed -r -e "s#(image: +)quay.io/.+operator.+#\1quay.io/janus/operator:pr-${{ env.SHORT_SHA }}#g" -i bundle/manifests/backstage-operator.clusterserviceversion.yaml
          echo "Operator in CSV changed to: quay.io/janus/operator:pr-${{ env.SHORT_SHA }}"
      - name: Build and Push operator-bundle image
        uses: ./.github/actions/docker-build
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.JANUS_QUAY_USERNAME }}
          password: ${{ secrets.JANUS_QUAY_TOKEN }}
          # TODO use janus-idp/operator* images instead of janus/operator*; switch to organization-level secrets
          # username: ${{ vars.QUAY_USERNAME }}
          # password: ${{ secrets.QUAY_TOKEN }}
          # imageName: ${{ github.repository }}-bundle
          imageName: janus/operator-bundle
          imageTags: |
            type=raw,value=next
            type=sha,prefix=next-
          # to autodelete PR image tags, set an expiry date
          imageLabels: quay.expires-after=14d
          push: true
          dockerfile: docker/bundle.Dockerfile

      - name: Generate operator-catalog dockerfile
        run: |
          set -ex
          OS=$(go env GOOS) && ARCH=$(go env GOARCH) && \
          curl -sSLo /tmp/opm https://github.com/operator-framework/operator-registry/releases/download/v1.33.0/${OS}-${ARCH}-opm && chmod +x /tmp/opm
          /tmp/opm index add --container-tool docker --mode semver \
            --tag operator-catalog:pr-${{ env.SHORT_SHA }} \
            --bundles quay.io/janus/operator-bundle:pr-${{ env.SHORT_SHA }} --generate
      - name: Build and Push operator-catalog image
        uses: ./.github/actions/docker-build
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.JANUS_QUAY_USERNAME }}
          password: ${{ secrets.JANUS_QUAY_TOKEN }}
          # TODO use janus-idp/operator* images instead of janus/operator*; switch to organization-level secrets
          # username: ${{ vars.QUAY_USERNAME }}
          # password: ${{ secrets.QUAY_TOKEN }}
          # imageName: ${{ github.repository }}-catalog
          imageName: janus/operator-catalog
          imageTags: |
            type=raw,value=next
            type=sha,prefix=next-
          # to autodelete PR image tags, set an expiry date
          imageLabels: quay.expires-after=14d
          push: true
          dockerfile: index.Dockerfile

